body{
    margin: 0;
    min-height: 100vh;
    padding: 20px;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-image: url('background.avif');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}


#image{
    height: 300px;
    width: 300px;
    border-radius: 15px;
    border-color: black;
    
}
#container{
    background: rgba(255, 255, 255, 0.15);
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-radius: 16px;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.2);
    padding: 30px;
    color: #ffffff;
    max-width: 850px;
    margin: 40px auto;
}

#footer{
    background: rgba(255, 255, 255, 0.15);
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-radius: 16px;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.2);
    color: #ffffff;
    padding: 20px;
    max-width: 850px;
    margin: 40px auto;
}

#about{
    background: rgba(255, 255, 255, 0.15);
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-radius: 16px;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.2);
    color: #ffffff;
    padding: 20px;
    max-width: 850px;
    margin: 40px auto;
}

#hobbies{
    background: rgba(255, 255, 255, 0.15);
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-radius: 16px;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.2);
    color: #ffffff;
    padding: 20px;
    max-width: 850px;
    margin: 40px auto;
}

a {
    color: #00ffcc;
    text-decoration: none;
}